max mds = 5
#client cache size = 16384000

[osd]
debug osd = 1
log file = /mnt/vol2/msevilla/ceph-logs/osd/$name.log

[mon]
debug mon = 1
log file = /mnt/vol2/msevilla/ceph-logs/mon/$name.log

[mds]
debug ms = 0
debug mds = 1
log file = /mnt/vol2/msevilla/ceph-logs/mds/$name.log
mds log = true
ms_async_op_threads = 0
#mds bal frag = true
#mds bal mode = 0
#mds debug frag = false
#mds debug subtrees = false
mds bal split size = 100000
#mds cache size = 100000000

[client]
debug client = 0
