Source: ceph-orig
Maintainer: Michael Sevilla <msevilla@ucsc.edu>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: ceph-orig
Architecture: any
Depends: 
Description: greet user
 hithere greets the user, or the world.
